/* #hero {
background-image: url(brick-wall.jpg);
    background-size: cover;
    margin-top: 25px;
    height: 1252px;
    margin-bottom: 95px;
    position: relative;
    top: -234px;
}

#hero > .inner-hero {
    background-image: url(brick-background.jpg);
    background-size: cover;
    margin-top: 25px;
    height: 600px;
    margin-bottom: 95px;
    position: relative;
    top: -234px;
} */

#hero {
    background-image: url(brick-wall.jpg);
    background-size: cover;
    margin-top: 25px;
    height: 997px;
    margin-bottom: 95px;
    position: relative;
    top: -401px;
}


#hero > .inner-hero {
    background-image: url(brick-background.jpg);
    background-size: cover;
    margin-top: 25px;
    height: 711px;
    margin-bottom: 95px;
    position: relative;
    top: 379px;
    width: 772px;
    margin-left: auto;
    margin-right: auto;
}

#navbar a {
    color:white;
    font-size: 2rem;
}
#navbar {
    float:left;
}
#navbarsExampleDefault  {
    float: right;
}

#left-navbar  {
    float: left;
}